
@{
    ViewData["Title"] = "Home Page";
}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>





<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>
</div>

<div class="container">
    <div class="row">
        <form class="form-horizontal">
            <fieldset>
                <!-- Address form -->

                <h2>Church Address</h2>

                <!-- full-name input-->
                <div class="control-group">
                    <label class="control-label">Church Name</label>
                    <div class="controls">
                        <input id="full-name" name="full-name" type="text" placeholder="Church name"
                            class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- Pastors-name input-->
                <div class="control-group">
                    <label class="control-label">Pastors Name</label>
                    <div class="controls">
                        <input id="full-name" name="full-name" type="text" placeholder="Pastors name"
                            class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- Pastors-Image input-->
                <div class="control-group">
                    <label class="control-label">Pastors Image</label>
                    <div class="controls">
                        <input id="Image" name="Image" type="text" placeholder="URL" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label"> Church Address</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="Church Address"
                            class="input-xlarge">
                    </div>
                </div>
                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code"
                            class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- country select -->
                <div class="control-group">
                    <label class="control-label">State</label>
                    <div class="controls">
                        <select id="country" name="country" class="input-xlarge">
                            <option value="" selected="selected">(please select a State)</option>
                            <option value="Alabama">AL</option>
                            <option value="Alaska">AK</option>
                            <option value="Arizona">AZ</option>
                            <option value="Arkansas">AR</option>
                            <option value="California">CA</option>
                            <option value="Colorado">CO</option>
                            <option value="Connecticut">CT</option>
                            <option value="District of Columbia">DC</option>
                            <option value="Delaware">DE</option>
                            <option value="Florida">FL</option>
                            <option value="Georgia">GA</option>
                            <option value="Hawaii">HI</option>
                            <option value="Idaho">ID</option>
                            <option value="Illinois">IL</option>
                            <option value="Indiana">IN</option>
                            <option value="Iowa">IA</option>
                            <option value="Kansas">KS</option>
                            <option value="Kentucky">KY</option>
                            <option value="Louisiana">LA</option>
                            <option value="Maine">ME</option>
                            <option value="Maryland">MD</option>
                            <option value="Massachusetts">MA</option>
                            <option value="Michigan">MI</option>
                            <option value="Minnesota">MN</option>
                            <option value="Mississippi">MS</option>
                            <option value="Missouri">MO</option>
                            <option value="Montana">MT</option>
                            <option value="Nebraska">NE</option>
                            <option value="Nevada">NV</option>
                            <option value="New Hempshire">NH</option>
                            <option value="New Jersey">NJ</option>
                            <option value="New Mexico">NM</option>
                            <option value="New York">NY</option>
                            <option value="North Carolina">NC</option>
                            <option value="North Dakota">ND</option>
                            <option value="Ohio">OH</option>
                            <option value="Oklahoma">OK</option>
                            <option value="Oregon">OR</option>
                            <option value="Pennsylvania">PA</option>
                            <option value="Rhode Island">RI</option>
                            <option value="South Carolina">SC</option>
                            <option value="South Dakota">SD</option>
                            <option value="Tennessee">TN</option>
                            <option value="Texas">TX</option>
                            <option value="Utah">UT</option>
                            <option value="Vermont">VT</option>
                            <option value="Virginia">VA</option>
                            <option value="Washington">WA</option>
                            <option value="West Virginia">WV</option>
                            <option value="Wisconsin">WI</option>
                            <option value="Wyoming">WY</option>
                        </select>
                    </div>
                </div>
                <!-- Description-name input-->
                <div class="control-group">
                    <label class="control-label">Church Description</label>
                    <div class="controls">
                        <input id="Description" name="Discription" type="textaread" placeholder="Description"
                            class="input-xlarge" style="height:150px">
                    </div>
                </div>
                <button>Submit</button>
            </fieldset>
        </form>
    </div>
</div>